<link rel="stylesheet" href="questions.css">
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>

<h1 style="font-family: Bangers; left:300pt;" class="centreHeading">Well done you finished the quiz!</h1>

<h3 style="font-size: 30pt; left: 32%;"class="centreBody">You scored <%=tally%> out of a possible <%=number%>!</h3>

<form action="/" method="GET">
<input type="submit" class="resultButton" style="top:150pt; left:46%;" value="Play Again"></form>
