<link href="start.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>

<h1 class="centreHeading" style="font-family: Bangers;">The Quiz</h1>

<form class="centreBody" action="/firstQuestion" method="GET">
<h3 style="font-family: Bangers; font-size: 20pt;">Click to get started</h3>
<input type="submit" class="startButton" value="Go" id="startButton">
</form>